*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #0f2027, #203a43, #00f2fe);
    min-height:100vh;
}

header{
    text-align:center;
    padding:60px 20px;
}

header h1{
    font-size:45px;
    color:#00f2fe;
}

header p{
    color:#81d4fa;
}

.contenedor{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:40px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:#102027;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,255,255,0.3);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.contenido{
    padding:20px;
}

.contenido h2{
    color:#00e5ff;
}

.contenido p{
    color:#b3e5fc;
    margin:10px 0;
}

.contenido a{
    text-decoration:none;
    color:#00f2fe;
    font-weight:bold;
}