*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background: linear-gradient(to right, #061a26, #0b3d5c);
}

.curso{
max-width:1100px;
margin:auto;
background:#0d1f2d;
box-shadow:0 15px 40px rgba(0,255,255,0.3);
}

.banner{
width:100%;
height:350px;
object-fit:cover;
}

.contenido{
padding:50px;
background:#0f2b3d;
color:white;
}

.contenido h1{
font-size:42px;
margin-bottom:15px;
color:#00f2ff;
}

.descripcion{
font-size:18px;
margin-bottom:30px;
color:#b2fefa;
}

.info{
background:#083344;
padding:25px;
border-radius:12px;
margin-bottom:40px;
}

.info p{
margin-bottom:12px;
color:#00e5ff;
}

.contenido h2{
margin-bottom:20px;
color:#00f2ff;
}

ul{
list-style:none;
margin-bottom:40px;
}

ul li{
margin-bottom:12px;
color:#b2fefa;
}

.btn-inscribirse{
padding:15px 30px;
background:#00e5ff;
color:#002b36;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.btn-inscribirse:hover{
background:#00bcd4;
}

/* MODAL */

.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:none;
z-index:10;
}

.modal{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%, -50%);
background:#0f2b3d;
color:white;
padding:30px;
width:350px;
max-height:90vh;      
overflow-y:auto;
border-radius:12px;
box-shadow:0 0 30px rgba(0,255,255,0.5);
display:none;
z-index:11;
}

.modal input,
.modal select{
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:6px;
border:none;
}

.modal button{
width:100%;
padding:12px;
background:#00e5ff;
color:#002b36;
border:none;
border-radius:6px;
cursor:pointer;
}

.modal button:hover{
background:#00bcd4;
}

.cerrar{
position:absolute;
top:10px;
right:15px;
cursor:pointer;
font-weight:bold;
color:#00f2ff;
}
