*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #fdfbfb, #ebedee);
}

.curso{
    max-width:1100px;
    margin:auto;
    background:#ffffff;
}

.banner{
    width:100%;
    height:350px;
    object-fit:cover;
}

.contenido{
    padding:50px;
    background:#f5f5f5;
}

.contenido h1{
    font-size:42px;
    margin-bottom:15px;
    color:#333;
}

.descripcion{
    font-size:18px;
    margin-bottom:30px;
    color:#555;
}

.info{
    background:#e3f2fd;
    padding:25px;
    border-radius:12px;
    margin-bottom:40px;
}

.info p{
    margin-bottom:12px;
    font-size:16px;
    color:#333;
}

.contenido h2{
    margin-bottom:20px;
    color:#444;
}

ul{
    list-style:none;
    margin-bottom:40px;
}

ul li{
    margin-bottom:12px;
    font-size:16px;
    color:#555;
}

.btn-inscribirse{
    padding:15px 30px;
    background:#6c63ff;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.btn-inscribirse:hover{
    background:#5548e0;
}

/* FONDO OSCURO */
.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display:none;
    z-index:10;
}

/* MODAL */
.modal{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:white;
    padding:30px;
    width:350px;
    max-height:90vh;      
    overflow-y:auto; 
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    display:none;
    z-index:11;
}

.modal h3{
    margin-bottom:20px;
}

.modal input,
.modal select{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border-radius:6px;
    border:1px solid #ccc;
}

.modal button{
    width:100%;
    padding:12px;
    background:#6c63ff;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.modal button:hover{
    background:#5548e0;
}

.cerrar{
    position:absolute;
    top:10px;
    right:15px;
    cursor:pointer;
    font-weight:bold;
}