*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #fff3e0, #ffcc80);
    min-height:100vh;
}

header{
    text-align:center;
    padding:60px 20px;
}

header h1{
    font-size:45px;
    color:#e65100;
}

header p{
    color:#bf360c;
}

.contenedor{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:40px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:#ffffff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(255,140,0,0.3);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.contenido{
    padding:20px;
}

.contenido h2{
    color:#e65100;
}

.contenido p{
    color:#5d4037;
    margin:10px 0;
}

.contenido a{
    text-decoration:none;
    color:#ff6f00;
    font-weight:bold;
}