body {
    margin: 0;
background: linear-gradient(135deg, #111111, #12344d);
color: white;
}

.navbar {
    background: #1e3c72;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    text-align: center;
}

.centro{
    width: 950px;
    height: 350px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.galeria{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    max-width: 900px;      
    margin: 0 auto;  
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.item:nth-child(odd) {
    justify-content: flex-start;
}

.item:nth-child(even) {
    flex-direction: row-reverse;
}

html {
    scroll-behavior: smooth;
}

.barra-cursos {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.titulo-barra {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.barra-cursos a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.barra-cursos a:hover {
    color: yellow;
    transform: scale(1.1);
}

.btn-curso {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #0072ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-curso:hover {
    background-color: #0056cc;
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.fondo {
    margin: 0;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    color: white;
}

.fondo1 {
    margin: 0;
    background: linear-gradient(135deg, #2193b0, #6dd5ed);
    color: white;
}

.fondo2 {
    margin: 0;
    background: linear-gradient(135deg, #134e5e, #71b280);
    color: white;
}

.fondo3 {
    margin: 0;
    background: linear-gradient(135deg, #41295a, #2f0743);
    color: white;
}

.fondo4{
    margin: 0;
    background: linear-gradient(160deg, #1e3c72, #2a5298, #6a11cb);
    color: white;
}
